name: Run C++ Program

on:
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile and run
        run: |
          cd "student_roster_c++/main"
          g++ main.cpp roster.cpp student.cpp -o app
          ./app
